GAID=
GOOGLE_ENTRY_EMAIL=
GOOGLE_ENTRY_MESSAGE=
GOOGLE_ENTRY_NAME=
GOOGLE_ENTRY_SUBJECT=
GOOGLE_SUBMIT_FORM_URL=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_STORAGE_API=
NEXT_PUBLIC_SHOW_PERCENT=
SITEMAP_PASS=
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_EMAIL=


# Cloudflare D1 Connection Details (Required for REST API fallback)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_DB_API_TOKEN=

# Portfolio Theme Configuration (auto, dark, light, a_dark, a_light)
NEXT_PUBLIC_THEME=